@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: work sans, sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	
	background: #f5f7fa;
    padding: 25px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100px;
}

.photo-and-actions {
	height: calc(100vh - 85px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Body */

.txts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    font-family: playfair display, serif;
    font-size: 1.2rem;
    gap : 0.5rem;
}

.btnsandimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.btns{
    
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

}

.btns button:nth-child(1) {
	color: #000000;
    background-color: #f5f7fa;
    border: solid 2px #000000;
}

.btns button:hover:nth-child(1){
    background-color: #fff;
    color: #000000;
}

button{
    cursor: pointer;
    width: 160px;
    height: 80px;
    border-radius: 16px;
    border: none;
    background-color: #000000;
    color: #f5f7fa;
    font-size: 1rem;
}   

button:hover{
	color: #f5f7fa;
    background-color: #1d1d1f;
}

.funcs {
    padding: 20px;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.1rem 0;
    border: solid 2px #000000;
    border-radius: 25px;
    height: auto;
    gap: 1rem;
}

.func {
    display: flex;
    align-items: center;
}

.func i {
    font-size: 1.5rem;
    margin-right: 8px;
}


@media (min-width: 750px) {
    .photo-and-actions {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .txts {
        flex: 1;
        align-items: flex-start;
        text-align: left;
        font-size: 2.5rem;
    }

    .btnsandimg {
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .btns {
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    button{
        font-size: 1.5rem;
        width: 100%;
    }

    .tickets{
        display: none;
    }

    .funcs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px;
        margin: 0.1rem 0;
        border: solid 2px #000000;
        font-size: 1.5rem;
    }
    
    .func {
        flex-direction: column;
        align-items: center;
        max-width: 200px; /* ou o valor que funcionar melhor pro seu layout */
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
    }
    .func p {
        text-align: center;
        word-break: break-word;
        white-space: normal; /* permite quebra de linha */
    }
        
    
    
    .func i {
        
        font-size: 1.5rem;
        margin-right: 8px;
    }
}
