<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lobby.css">
    <title>CineMatch</title>
</head>
<body>
    <form id="create_lobby" autocomplete="off">
        <div class="container">
            <img src="../assets/img/heart_home.svg" alt="Logo Coração">
            <h1>Entrar na sessão</h1>
            <input type="text" placeholder="Nick" id="name" name="name" required maxlength="30">
            <button type="submit">Entrar na sessão</button>
        </div>
    </form>

    <!-- Importa o JS -->
    <script src="../assets/js/create_lobby.js"></script>
</body>
</html>
