<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css" />
    <title>CineMatch</title>
</head>
<body>
    <nav class="navbar">
        <img src="../assets/img/heart_home.svg" alt="Logo CineMatch">
    </nav>
    <div class="txts">
        <h1>O site de recomendaçaes de filmes</h1>
        <h6>O CineMatch te ajuda a escolher um filme de forma rápida se baseando no seu gosto e dos seus amigos.</h6>
    </div>
    <div class="btnsandimg">
        <img class="tickets" src="../assets/img/movie_tickets_home.svg" alt="">
        <div class="btns">
        <a href="http://177.235.191.39:5500/front-end/views/create_lobby.html"><button>Criar uma sessão</button></a>
            <a href="http://177.235.191.39:5500/front-end/views/entry_lobby.html"><button>Entrar em uma sessão</button></a>
        </div>     
    </div>

    <div class="funcs">
        <div class="func">
            <i class="fa-solid fa-sun" style="color: #000000;"></i>
            <p>Uma sessão dura 15 minutos</p>
        </div>
        <div class="func">
            <i class="fa-solid fa-star" style="color: #000000;"></i>
            <p>Filtrem suas preferências</p>
        </div>
        <div class="func">
            <i class="fa-solid fa-people-group" style="color: #000000;"></i>
            <p>Sessao em grupo pelo código gerado</p>
        </div>
    </div>



<!-- Font Awesome -->
<script
    src="https://kit.fontawesome.com/f9e19193d6.js"
    crossorigin="anonymous"
></script>

<script src="https://kit.fontawesome.com/5394ea2044.js" crossorigin="anonymous"></script>

</body>
</html>