<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lobby.css">
    <title>CineMatch</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    
</head>
<body>
    <form id="Start_lobby" autocomplete="off">
        <div class="container">
            <img src="../assets/img/heart_home.svg" alt="">
            <h1>Codigo da sua sessão</h1>
            <h3></h3>
            <div class="container-lista">
                <ul id="user-list">
                </ul>
            </div>
            <button type="submit">Comessar sessão</button>
        </div>
    </form>
</body>
<script src="../assets/js/web_socket_lobby.js"></script>
</html>